<footer class="navbar-uptc text-light py-3 mt-5">
	<div class="container text-center">
		<span><strong>@Diego Combariza</strong> y <strong>@Daniel Rodriguez - Parcial1 Electiva2</strong></span>
	</div>
</footer>
